[project]
	description = Example project to show how to use thrift on Java(Server, Android) and iOS
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Andrey Dyachkov (adyach)
[access "refs/for/refs/*"]
	read = group user/Andrey Dyachkov (adyach)
	push = group user/Andrey Dyachkov (adyach)
	label-Code-Review = -2..+2 group user/Andrey Dyachkov (adyach)
	label-Verified = -1..+1 group user/Andrey Dyachkov (adyach)
	rebase = group user/Andrey Dyachkov (adyach)
	removeReviewer = group user/Andrey Dyachkov (adyach)
	submit = group user/Andrey Dyachkov (adyach)
[access "refs/heads/*"]
	read = group user/Andrey Dyachkov (adyach)
	create = group user/Andrey Dyachkov (adyach)
	push = +force group user/Andrey Dyachkov (adyach)
	pushMerge = group user/Andrey Dyachkov (adyach)
[access "refs/tags/*"]
	push = +force group user/Andrey Dyachkov (adyach)
	pushTag = group user/Andrey Dyachkov (adyach)
	pushSignedTag = group user/Andrey Dyachkov (adyach)
